.toggle {
  background-color: #ffffff;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.toggle::before {
  content: "";
  height: 2rem;
  width: 2rem;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-color: #000000;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle[aria-pressed="true"] {
  background-color: #9d9d9d;
}

.toggle[aria-pressed="true"]::before {
  background-color: #FFFFFF;
}

.toggle[aria-pressed="true"]::before {
  left: auto;
  right: 0;
}
