@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --color-text-base: #FFFFFF;
    --color-fill: #4ECDC4;
  }

  .theme-dark {
    --color-text-base: #4ECDC4;
    --color-fill: #000000;
  }
}
