@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --color-main: #86ff6d;
    --color-text-primary: #414142;
    --color-bg-primary: #eae9e5;
    /* --color-text-secondary:  */
    --color-bg-secondary: #ffffff;
  }
  
  .theme-dark {
    --color-main: #86ff6d;
    --color-text-primary: #eae9e5;
    --color-bg-primary: #414142;
    /* --color-text-secondary:  */
    --color-bg-secondary: #2f2f2f;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
