@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --color-text-base: #414142;
    /* --color-fill: #86ff6d; */
    --color-fill: #eae9e5;
  }

  .theme-dark {
    --color-text-base: #eae9e5;
    --color-fill: #414142;
  }
}
